@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right,#00B4DB, #0083B0);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.branca{
    background-color: white;
    width: 80vw;
    height: 86vh;
    margin: auto;
    margin-top: 67px;
}

.login{
    float: left;
    width: 64.3%;
    height: 90%;
    padding: 60px 0px 0px 60px;
}

.logo{
    padding-bottom: 15px;
    font-weight: 600;
}

h1{
    padding-bottom: 20px;
}

p{
    color: rgba(0, 0, 0, 0.384);
}

input{
    margin-bottom: 25px;
    width: 367px;
    height: 50px;
    border-radius: 25px;
}

.btr-login{
    display: flex;
}

.google{
    width: 125px;
    height: 70px;
    border: 1px solid black;
}

.img-google{
    width: 25px;
    height: 25px;
}

.img-face{
    width: 25px;
    height: 25px;
}

.img-git{
    width: 25px;
    height: 25px;
}

.p-or{
    margin-left: 119px;
}

.cinza{
    float: right;
    width: 30%;
    height: 100%;
    background-color: #E2EEF5;
}

.mulher{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 568px;
    top: 22px;
}

.mulher-img{
    width: 100%;
    height: 100%;
}